@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wdth,wght@0,101.5,100..900;1,101.5,100..900&display=swap');
*
{
    user-select: none;
    -webkit-user-drag: none;
    text-align: center;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
      "wdth" 101.5;
    transition: all ease 0.3s;
    overflow: hidden;
}
*::-webkit-scrollbar
{
    display: none;
}
:focus
{
    outline: none;
}
:root
{
    --backColor : #ffffff;
    --color : #ffffff;
    --revcolor : #ffffff;
}

html
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: var(--backColor);
}
body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: var(--backColor);
}
.window
{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: top left;
    background: var(--backColor);
}
@keyframes win 
{
    0%
    {
        transform: translate(-50%,-50%);
        scale: 0.8;
        opacity: 0%;
    }
    100%
    {
        transform: translate(-50%,-50%);
        scale: 1;
        opacity: 100%;
    }
}
@keyframes subwin 
{
    0%
    {
        scale: 0.8;
        opacity: 0%;
    }
    100%
    {
        scale: 1;
        opacity: 100%;
    }
}

#home
{
    display: none;
    z-index: 1;
    animation: win 0.2s ;
}
.half
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contorno
{
    border-radius: 100%;
    padding: 20px;
    border: solid black 10px;
    background: var(--color);
    transition: all 150ms ease;
}
.contorno:active
{
    scale: 0.95;
}
.contornomini
{
    border-radius: 100%;
    border: solid black 10px;
    background: var(--color);
    transition: all 150ms ease;
}
h1
{
    font-size: 600;
    font-size: 50px;
    margin: 10px;
}
h2
{
    font-size: 600;
    font-size: 25px;
    margin: 10px;
}
h4
{
    font-size: 400;
    font-size: 13px;
    margin: 0px;
}
h3
{
    font-size: 400;
    font-size: 17px;
    font-style: italic;
    margin: 0px;
}
h5
{
    font-size: 400;
    font-style: italic;
    margin: 0px;
}
button
{
    padding: 10px;
    border: solid 5px black;
    width: 180px;
    border-radius: 30px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    background: var(--color);
    transition: all 150ms ease;
}
#music
{
    display: none;
}
button:active
{
    scale: 0.9;
    background: transparent;
}
input[type="text"]
{
    padding: 10px;
    border: solid 5px black;
    width: 240px;
    border-radius: 25px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
    background: var(--revcolor);
}
input[type="text"]:active
{
    scale: 0.95;
    background: transparent;
}
#offline
{
    display: none;
    z-index: 9999;
    animation: win 0.2s ;
}
#askname
{
    display: none;
    z-index: 2;
    animation: win 0.2s ;
}
#roomlobby
{
    display: none;
    z-index: 3;
    animation: win 0.2s ; 
}
#waittostart
{
    display: none;
    z-index: 4;
    animation: subwin 0.2s ; 
}
#waitround
{
    display: none;
    z-index: 6;
    animation: subwin 0.2s ; 
}
#askroomcode
{
    display: none;
    z-index: 2;
    animation: subwin 0.2s ;
}
#load
{
    z-index: 0;
    animation: subwin 0.2s ;
}
#askerview
{
    display: none;
    z-index: 6;
    animation: subwin 0.2s ; 
}
#notaskerview
{
    display: none;
    z-index: 6;
    animation: subwin 0.2s ; 
}
.card
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color);
    border: solid 5px black;
    margin: 5px;
    object-fit: contain;
    transition: all 200ms ease;
    min-height: fit-content;
}
.card:active
{
    scale: 0.95;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
}
.nodo
{
    width: 100%;
}
.semi
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    text-align: left;
    z-index: 2;
    margin: 10px;
}
.spaces
{
    z-index: 2;
}
.taguser
{
    display: none;
    flex-direction: row;
    width: max-content;
    z-index: 10;
    align-items: center;
    justify-content: center;
}
#userimg
{
    border-radius: 100%;
    border: solid 2.5px black;
    margin: 10px;
    transition: all 150ms ease;
}
#userimg:active
{
    scale: 0.9;
}
.cardimg
{
    position: absolute;
    width: 500px;
    height: 500px;
    align-self: center;
    justify-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: top left;
    z-index: 0;
    object-fit: cover;
    display: flex;
    opacity: 25%;
}
.sub-window
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background: var(--backColor);
}
.endhalf
{
    display: flex;
    width: 100%;
    padding: 2px;
    justify-content: flex-end;
}
.fullwidth
{
    width: 100%;
}
.morte
{
    min-height: fit-content;
}
.scroll
{
    flex-direction: column;
    max-height: 230px;
    justify-content: flex-start;
    overflow-y: scroll;
    border-radius: 30px;
    padding: 5px;
    margin-top: 10px;
}
#onkai
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.reversecard
{
    background-color: var(--revcolor);
}
@media (orientation : portrait) or (min-height : 400px) {
    .window
    {
        flex-direction: column;
    }
    .sub-window
    {
        flex-direction: column;
    }
}
@media (orientation : landscape) and (min-height : 600px)
{
    .nodo
    {
        width: 50%;
    }    
}
@media(orientation: landscape) and (max-height : 600px)
{
    #roomlobby
    {
        flex-direction: column;
    }
    .scroll
    {
        min-height: auto;
        max-height: 150px;
    }
}