@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
*
{
    font-family: "Chewy";
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
:root
{
    --backColor : #ffffff
}
body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--backColor);
}
html
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
div
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}